.movieCard {
  width: 18vw;
  height: auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
}

.movieCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.movieCard img {
  width: 100%;
  border-radius: 8px;
}

.movieCard h3 {
  font-size: 1.2rem;
  margin: 1rem 0 0.5rem 0;
  color: #333;
}

.movieCard p {
  font-size: 0.9rem;
  color: #666;
  text-align: center;
  margin-bottom: 1rem;
}


