
<main class="main">
  <nav>
    <a href="/" class="navLink" style="width: 50%;">

    <header class="navTitle" >Movie Mania</header>
      </a>
      <div class="nav-items" style="width:100%;">
      <a href="/add-movie" class="navLink navButtons" >

          <h3>Movies</h3>
      </a>
      <a href="/actors" class="navLink navButtons" >

        <h3> Actors</h3>
    </a>
    <a href="/directors" class="navLink navButtons" >

      <h3> Directors</h3>
  </a>
      <a href="/add-movie" class="navLink navButtons" >

        <h3> Don't know</h3>
    </a>
    <a href="/about" class="navLink navButtons" >

      <h3> More</h3>
  </a>
    </div>

  </nav>
</main>


<router-outlet />
